$primaryColor: hsl(235, 46%, 20%);
$primaryHoverColor: hsl(235, 41%, 34%);
$backgroundColor: hsl(226, 43%, 10%);

$profileColor: hsl(246, 80%, 60%);
$workColor: hsl(15, 100%, 70%);
$playColor: hsl(195, 74%, 62%);
$studyColor: hsl(348, 100%, 68%);
$exerciseColor: hsl(145, 58%, 55%);
$socialColor: hsl(264, 64%, 52%);
$selfCareColor: hsl(43, 84%, 65%);

$controlsColor: hsl(235, 45%, 61%);
$activeControlsColor: hsl(0, 0%, 100%);

$textPaleBlueColor: hsl(236, 100%, 87%);
$textWhiteColor: hsl(0, 0%, 100%);
$linkColor: hsl(235, 100%, 70%);

$boxShadowColor: hsl(235, 46%, 20%);
$borderColor: hsl(0, 0%, 100%);

$menuColor: hsl(235, 59%, 13%);
$menuText: hsl(236, 100%, 87%);
$menuTextHover: hsl(235, 41%, 34%);