@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$mainFont : 'Rubik', sans-serif;

$text-xsm : 0.875rem;
$text-sm : 0.9375rem;
$text : 1rem;
$title : 1.125rem;
$title-xl : 1.65rem;
$title-xxl : 2rem;
$title-xxxl : 2.5rem;
$title-xxxxl : 3.6rem;