$grayishBlue: hsl(217, 19%, 38%);
$lightGrayishBlue: hsl(216, 19%, 50%);
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);
$ligntGreen: hsl(151, 100%, 66%);
$hoverLigntGreen: hsl(151, 77%, 60%);
$white : hsl(196, 39%, 86%);
$red: hsl(0, 100%, 75%);