@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
/* VARIABLES */
    :root {
        /*COLORS*/
        --main-black: hsl(0,0%,0%);
        --main-white: hsl(0,100%,100%);
        --main-blue: hsl(223, 87%, 63%);
        --secondary-pale-blue: hsl(223, 100%, 88%);
        --secondary-light-red: hsl(354, 100%, 66%);
        --neutral-gray: hsl(0, 0%, 59%);
        --neutral-very-dark-blue: hsl(209, 33%, 12%);
        /*FONT-SIZE*/
        --main-font-size: 1em;
        --main-font-size-s: 0.75em;
        --main-font-size-l: 3em;
        --main-font-size-m: 1.26em;
        --main-font-size-xs: 0.64em;
        --main-title-font-size: 1.4em;
        --main-subtitle-font-size: 0.75em;
        /*FONTS*/
        --main-font-style: 'Libre Franklin',
            sans-serif;
    }

/* GLOBAL STYLES */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body {
        font-size: var(--main-font-size);
        font-family: var(--main-font-style);
        background-color: var(--main-white);
        color: var(--main-black);
    }
    a {
        text-decoration: none;
    }
    button {
        border: none;
    }
    

/* MAIN STYLES */
    .main {
        position: relative;
    }
    .section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5.3em 0;
        text-align: center;
    }
    .section-title {
        font-size: var(--main-title-font-size);
        font-weight: 300;
        margin: 1.7em 0 0.7em 0;
        color: var(--neutral-gray);
    }
    .section-title b {
        color: var(--main-black);
    }
    .section-subtitle {
        font-size: var(--main-subtitle-font-size);
        font-weight: 300;
    }
    .section-form {
        position: relative;
        margin: 2em 0 4.2em 0;
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }
    .email-input {
        font-size: var(--main-font-size);
        padding: 0 2.5em;
        border: 1px solid var(--secondary-pale-blue);
    }
    .email-input::placeholder {
        font-size: var(--main-font-size-s);
        color: var(--neutral-gray);
    }
    .email-input:focus {
        outline-color: var(--main-blue);
    }
    .pill-form {
        height: 2.5em;
        border-radius: 25px;
        font-family: var(--main-font-style);
    }
    .button {
        font-size: var(--main-font-size);
        background-color: var(--main-blue);
        color: var(--main-white);
        cursor: pointer;
    }
    .button span {
        font-size: var(--main-font-size-s);
    }
    .button:hover {
        transition: all 0.2s linear;
        color: var(--main-blue);
        background-color: var(--main-white);
        border: 1px solid var(--main-blue);
        font-weight: 600;
    }
    .error {
        position: absolute;
        bottom: -40%;
        left: 24%;
        z-index: 1;
        color: var(--secondary-light-red);
        font-style: italic;
        font-size: var(--main-font-size-s)
    }
    .section-img {
        max-width: 100%;
        height: auto;
    }
    .section-footer {
        margin: 7.5em 0;
    }
    .socials {
        display: flex;
        justify-content: center;
        gap: 0.8em;
    }
    .soc-icon {
        width: 2em;
        color: var(--main-blue);
        padding: 0.4em 0.5em;
        border: 1px solid var(--secondary-pale-blue);
        border-radius: 50%;
        cursor: pointer;
    }
    .section-footer-text {
        font-size: var(--main-font-size-xs);
        margin-top: 2.8em;
    }
    .soc-icon:hover {
        transition: all 0.2s ease-in-out;
        background-color: var(--main-blue);
        color: var(--main-white);
        border-color: var(--main-blue);
        scale: 1.1;
    }

    .main-footer{
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

/* MEDIA QUERIES */
    /* MEDIUM AND LARGE SCREENS */
    @media (min-width: 576px) {
        .logo {
            width: 86px;
        }
        .section-title {
            font-size: var(--main-font-size-l);
            margin: 1em 0 0.4em 0;
        }
        .section-subtitle {
            font-size: var(--main-font-size-m);
        }
        .section-form {
            margin: 2.5em 0 5.6em 0;
            width: 75%;
            flex-direction: row;
            justify-content: center;
            gap: 1em;
        }
        .email-input {
            width: 38.8%; 
            padding: 0 1.5em;
        }
        .button {
            width: 18.5%;
        }
        .button span {
            font-size: var(--main-font-size-s);
        }
        .pill-form {
            height: 2.8em;
            font-size: var(--main-font-size-m)
        }
        .section-img {
            width: 44%;
        }
        .section-footer {
            margin: 4.5em 0;
        }
        .section-footer-text{
            font-size: var(--main-font-size-s);
            margin-top: 2em;
        }
    }